
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 1.5rem;
}
.checked, .blue {
    color : #0065FC;
}

.starbackground  {
    color : #F2F2F2;
}

.articlesbackground {
    height: 14rem;
    border: solid 5px white;
    border-radius:  35px;
    box-shadow: 6px 6px 12px #c7c5c5;
    margin-bottom: 0.8rem;
}

.populararticlesbackground {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: auto auto 1rem auto;
    height: 10rem;
    border: solid 5px white;
    border-radius:  35px;
    box-shadow: 6px 6px 12px #c7c5c5;
}

.filter-container-mobil {
    display: flex;
    flex-direction: column;
}

.search-container, .info-container-mobil {
    display: flex;
    margin-bottom: 1rem;
}

.container-filter-mobil{
    display: flex;
    flex-wrap: wrap;
}
.container-inline {
    border: 1mm solid #f2f2f2;
    border-radius: 35px;
    justify-content: space-around;
    padding-right: 4.5rem;
    margin: 0.5rem;
    position: relative;
    z-index: 3;
}

.container-activities{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* margin-top: 2rem; */
    margin: 2rem auto 0 auto;
    width: 90%;
}

/* Mise en forme barre de recherche et filtres */

.search-container{
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
}

.container-search-item {
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 15px 0 0 15px ;
    background-color: #f2f2f2;
    
}
.search-filter, .search-button-phone, .filters{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.mobil-search-div{
    display: flex;
    align-items: center;
    width: 100%;
    border: solid 0.5mm #f2f2f2;
    border-radius: 0 15px 15px 0;
    height: 3rem;
    position: relative;
    z-index: 2;
}

.search-filter{
    color: black;
    border: none;
    padding-left: 15px;
}

.search-button{
    visibility: hidden;
    width: 0%;
}

.search-button-phone{
    width: 50px;
    padding: 1rem 0 1rem 0;
    background-color: #0065FC;
    border: none;
    border-radius: 15px;
    color: white;
    position: absolute;
    z-index: 1;
    right: -2px;
    bottom: -1px;
}
.container-filter-item {
    text-align: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color:#0065FC ;
    background-color: #DEEBFF;
    position: absolute;
    z-index: 1;
    left: -2px;
    top: -2px;
}

.filter-items{
    padding-top: 3px;
}

.container-filter-p {
    font-weight: bold;
    position: relative;
    z-index: 2;
    left: 3.8rem;
    padding-right: 0.1rem;
}

.info-icon {
    margin-top: 1rem;
    margin-right: 0.9rem;
    color:#0065FC ;
}


.img-popular{
    width: 43%;
    border-radius: 35px 0 0 35px;
    /* permet de redimmentionner l'image tout en gardant les ratios */
    object-fit: cover; 
}

.img-choices{
    width: 100%;
    height: 8rem;
    border-radius:35px 35px 0 0;
    object-fit: cover; 
}

.choicestext, .choicesstars{
    margin-left: 1.5rem;
}

.choicestext-mobil{
    margin: 0.5rem 0 0.5rem 0;
}

/* flexbox hebergement et populaires*/

.container-articles{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.container-detail-articles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 1.5rem;
    width: 90%;
    margin: auto;
}

.sectionsbackground2{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.populartitle{
    display: inline-flex;
    justify-content: space-between;
    width: 87%;
    margin: auto;
}

.chart-line-phone{
    margin-top: 1.7rem;
}

.detailarticlestitle{
    width: 87%;
    margin: auto;
}

.detailactivitytitle{
    margin-left: 0.5rem;
}

.viewmore{
    margin-left: 2rem;
}

.viewmore-mobil{
    margin: 0;
}

.secondsectionpopulararticle{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.popularstars{
    margin-bottom: 1rem;
}


/* flexbox activités à Marseille */
.activitiesarticles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.activitiesbackground {
    border-radius:  35px;
    box-shadow: 8px 8px 9px #F2F2F2;
    margin-top: 1rem;
}


.img-activities{
    width: 100%;
    object-fit: cover;
    border-radius: 35px 35px 0 0;
    height: 150px;
}

.activitiestitle{
    margin-left: 1.5rem;
    padding-bottom: 0.3rem;
}

/* flexbox footer */

footer{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer{
    margin-left: 2rem;
}

/* menu */

.menu{
    display: flex;
    height: 110px;
}

.header-filters{
    width: 90%;
    margin: auto;
}

.img-reservia{
    height: 45px;
    z-index: 2;
    position: relative;
    margin-left: 1.5rem;
}

.nav{
    align-self: flex-end;
    width: 410px;
    z-index: 1;
    position: absolute;
}

.ul-menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.li-pages{
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
}

.hostel-page{
    padding: 1rem 2.7rem 1rem 2.7rem;
}

.activities-page{
    padding: 1rem 4.3rem 1rem 4.3rem;
}

.pages-choice{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.inscription{
    color: #0065FC;
    font-weight: bold;
    margin: 1rem 1rem auto auto;
}

.li-pages:active, .li-pages:focus{
    border-bottom: 3px solid #0065FC;
}

.li-pages:active a, .li-pages:focus a{
    color: #0065FC;
}

